html {
    background: #e3e3e3;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
line-height: 1.4em;
width: 400px;
}

label {
    background-color: lightyellow;
}

footer {
    border-top: 1px dotted #ccc;
}

tr {
    border-left: black;
    height: 75px;
}


#bh_table {
    background-color: #e5e5e5;
    width: 65%;
    margin: 20px;
}

.test {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-top: 1px dotted #ccc;
}

.blog-post2 {
    border-top: 1px dotted #ccc;
}

.Aboutme {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.contact-me {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.sticky {
    background: #e5e5e5;
    position: sticky;
    top:0;

}