

html {
    background: #e3e3e3;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: lightblue;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
line-height: 1.4em;
width: 600px;
}

label {
    background-color: lightyellow;
}

footer {
    border-top: 1px dotted #ccc;
}

tr {
    border-left: black;
    height: 75px;
}


#bh_table {
    background-color: #fefaba;
    width: 80%;
    margin: 20px;
}

.test {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-top: 1px dotted #ccc;
}

.blog-post2 {
    border-top: 1px dotted #ccc;
}

.Aboutme {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.contact-me {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.sticky {
    background: lightblue;
    position: sticky;
    top:0;
    width: 20%;

}

section {
    display: flex;
}

article {
    background: lightyellow;

}

BH10 {
    max-width: 100%;
    height: auto ;
}

form {
    display: flex;
    max-width: 10px;
}

#aboot {
    display: flex
}

.aboot1 {
    flex:2;
}
.aboot2 {
    flex:1;
}

#con {
    display: flex
}
.con1 {
    flex:1;
}
.con2 {
    flex:3 300px;
}